@import '../../_varibales';

.root {
  background: linear-gradient(180deg, $third 0%, $primary 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;
  z-index: 1;
  padding-top: 70px;
  overflow: hidden;
  padding-bottom: 85px;

  @media (max-width: 1400px) {
    padding-top: 0;
  }

  @media (max-width: 576px) {
    padding-bottom: 100px;
  }
}

.contentWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-top: 30px;

  @media (max-width: 1400px) {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}

.contentText {
  width: 545px;

  @media (max-width: 1400px) {
    width: 650px;
    text-align: center;
    margin-top: -50px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    max-width: 450px;
    width: 100%;
    margin-top: 0;
  }

  @media (max-width: 576px) {
    max-width: 350px;
  }

  p {
    font-weight: normal;
    font-size: 32px;
    margin: 100px 0 70px;

    @media (max-width: 1400px) {
      margin: 20px 0 30px;
    }

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
}

.heading {
  font-weight: normal;
  font-size: 72px;
  letter-spacing: 4px;
  color: #000000;
  line-height: 1;

  @media (max-width: 768px) {
    font-size: 42px;
  }
}

.contentParallax {
  position: relative;
  width: 780px;
}
