.header {
  padding: 15px;
  background-color: #f5db13;
  box-shadow: 0 4px 16px rgba(1, 28, 64, 0.2);
}

.header__logo {
  max-width: 160px;
  margin-right: 30px;

  a,
  img {
    display: block;
    width: 100%;
  }
}

.header__navigation {
  width: calc(100% - 20% - 190px);
}

.navigation__items {
  display: flex;
  justify-content: space-between;
  list-style: none;

  .navigation__item {
    text-transform: uppercase;
    padding: 0 10px 15px;
    border-bottom: 3px solid transparent;
    transition: 0.3s;

    a {
      text-decoration: none;
      font-size: 25px;
      color: #212121;
      font-weight: normal;
    }

    &:hover,
    &:focus {
      border-bottom: 3px solid #212121;
    }
  }
}

.content {
  max-width: 1130px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
