.root {
  padding: 30px 15px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.wrap {
  width: 100%;
  max-width: 1125px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 576px) {
    align-items: center;
    flex-direction: column-reverse;

    p:first-child {
      margin-top: 10px;
    }
  }
}

.pharagraph {
  font-weight: bold;
  font-size: 18px;

  span {
    color: #f80037;
  }
}
