.root {
  display: block;
  padding-bottom: 85px;

  @media (max-width: 576px) {
    padding-bottom: 100px;
  }
}

.pokedex-title {
  margin-top: 80px;
  text-align: center;
  font-weight: normal;
  font-size: 35px;
}

.pokemons-search {
  margin-top: 40px;

  .search-bar {
    max-width: 1080px;
    width: 100%;
    background: #f2f2f2;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    border-radius: 40px;
    padding: 15px 30px;
    font-weight: normal;
    font-size: 16px;
    color: rgba(33, 33, 33, 0.8);
    border: 0;
    outline: none;
    transition: 0.3s;

    &:focus {
      box-shadow: 4px 4px 24px rgba(1, 28, 64, 0.2);
    }
  }
}
